.TodoItem {
    background-color: #FAFAFA;   /*Establece el color blanco de fondo para los TodoItems*/
    position: relative;   /*Al aplicar position: relative, puedes desplazar el elemento desde su posición normal utilizando las propiedades top, right, bottom y left.*/
    display: flex;   /*Establece el contenedor como un contenedor flexible*/
    justify-content: center;   /*Alinea horizontalmente el texto al centro*/
    align-items: center;   /*Alinea verticalmente el texto al centro*/
    margin-top: 24px;   /*Establece un margen alrededor de 24px*/
    box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.15);   /*Añade una sombra al botón: el 0px es para colocar la sombra hacia la derecha, el 5px es para colocar la sombra hacia abajo, el 50px es el desenfoque de la sombra y por último está el color de la sombra*/
}

.TodoItem-p {
    margin: 24px 0 24px 24px;   /*Margen superior, derecho, inferior, izquierdo*/
    width: calc(100% - 120px);   /*Establecer el ancho de un elemento de forma que sea igual al 100% del ancho de su contenedor menos 120 píxeles adicionales.*/
    font-size: 18px;   /*El tamaño de la letra es de 18px*/
    line-height: 24px;   /*Establece la altura de línea a 24px*/
    font-weight: 400;   /*Especifica el grosor o la negrita de la fuente a una normal*/
}

.TodoItem-p--complete {
    text-decoration: line-through;   /*Aplica una línea que atraviesa el texto en una posición horizontal*/
}